@model HireCar.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.CarType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
