@model HireCar.Models.Car

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfMan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfMan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Convertible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convertible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddInfo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
